@page
@model RouteGeneratorApplication.Models.MapModel
@{
    // Layout = null; // Use this if you dont want a layout page
    // var apiKey = "Google API Key";
    string apiKey = ConfigSaves.GoogleMapsSecret;
}
<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map</title>
    <script src="~/js/MapScript.js"></script>
</head>
<body onload="initMap()">
    <div id="map" style="height: 500px; width: 100%;"></div>
    <!-- Load the Google Maps JavaScript API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap"></script>
    <button onclick="sendWaypoints()">Generate Route</button>
</body>
</html>